/* ___________________________________style de base pour info */
@keyframes scroll {
    0% {
      transform: translateX(90vw);
    }
    100% {
      transform: translateX(-70vw);
    }
  }

.info {
    border : var( --border-size) solid var(--couleur-secondaire);
    border-radius: var(--border-radius);
    height: 3vw;
    width: var(--all-width);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#info-content {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 25s linear infinite;
    font-size: 1.3vw;
}

@media screen and (max-width: 900px) {
    .info {
        height: 11.5vw; 
    }
}
/* ___________________________________ fin */

/* ___________________________________style de base pour nav */

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 45.2vw;
    min-width: 7.20vw;
    border: var(--border-size) solid var(--couleur-secondaire);
    transform: translate(-0.4vw , -0.2vw);
}

.menu__content-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6vw;
    width: 6vw;
    background-color: var(--couleur-secondaire);
    color: var(--couleur-principale);
    border-radius: var(--border-radius);
}

.menu__content-link:nth-child(1){
    margin-top: 0.5vw;
}

.menu__content-link__a-venir{
    margin-bottom: 0.5vw;
}

.menu__content-link span:nth-child(1), .menu__content-link span:nth-child(3){
    font-size: 0.9vw;
}

.menu__content-link span:nth-child(2){
    font-size: 1.5vw;
    font-weight: 900;
}

.menu__content-link__a-venir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12vw;
    width: 6vw;
    background-color: var(--couleur-secondaire);
    color: var(--couleur-principale);
    border-radius: var(--border-radius);
}

.menu__content-ver{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7vw;
}

.menu__content-ver div:nth-child(1){
    font-size: 1.5vw;
    font-weight: 900;
}

.menu__content-ver div:nth-child(2){
    font-size: 0.65vw;
    margin-left: 0.5vw;
}

.content-ver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__content-fr{
    font-size: 0.9vw;
    text-transform: uppercase;
}



/* ___________________________________ fin */


/* ___________________________________style de base pour heure */

.header-footer__heure-fr__jp{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 16vw;
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--couleur-secondaire);
}

.header-footer__heure-fr__jp:nth-child(1){
    transform: translateX(0.2vw);
}

.header-footer__heure-fr__jp span:nth-child(1){
    font-size: 0.9vw;
    font-weight: 300;
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
}

.header-footer__heure-fr__jp span:nth-child(2){
    font-size: 1.5vw;
    font-weight: 600;
}

.header-footer__heure-fr__jp span:nth-child(3){
    font-size: 0.9vw;
    font-weight: 300;
    position: absolute;
    bottom: 0.5vw;
    right: 0.5vw;
}