body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header,
main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    height: 8vw;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

footer {
    display: flex;
    align-items: center;
}

.header-nenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-nenu-dificult {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15vw;
    position: relative;
    border: var(--border-size) solid var(--couleur-secondaire);
    border-radius: var(--border-radius);
}

.header-nenu-reponse {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15vw;
    position: relative;
    border: var(--border-size) solid var(--couleur-secondaire);
    border-radius: var(--border-radius);
}



.header-nenu-kanji {
    font-size: 1.5vw;
    font-weight: 600;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-size) solid var(--couleur-secondaire);
    border-radius: var(--border-radius);
    height: 100%;
    position: relative;
}

.header-nenu-kanji span {
    margin: 1vw;
}

.header-nenu-reponse-true {
    position: absolute;
    top: 1vw;
    left: 1vw;
    color: var(--couleur-tertiaire);
    font-size: 1vw;
}

.header-nenu-reponse-nb {
    font-size: 1.5vw;
}

.header-nenu-reponse-false {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    color: var(--couleur-quaternaire);
    font-size: 1vw;
}

.question-kanji {
    font-size: 10vw;
}

.reponse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin-top: 4vw;
}

.answer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4vw;
    font-size: 2vw;
    background-color: var(--couleur-principale);
    color: var(--couleur-secondaire);
    border: var(--border-size) solid var(--couleur-secondaire);
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 1vw;
    text-transform: capitalize;
}

.fin {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #353535;
    border: var(--border-size) solid var(--couleur-secondaire);
    border-radius: var(--border-radius);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 30vw;
}

@media screen and (max-width: 560px) {


    .header-nenu {
        flex-direction: column;
        width: 100%;
        height: 60vw;

    }

    .header-nenu-dificult {
        width: 100%;
        height: 20vw;
    }

    .header-nenu-reponse-true {
        top: 3vw;
        left: 3vw;
        font-size: 3vw;
    }

    .header-nenu-reponse-nb {
        font-size: 5vw;
    }

    .header-nenu-reponse-false {
        bottom: 3vw;
        right: 3vw;
        font-size: 3vw;
    }

    .header-nenu-reponse {
        width: 100%;
        height: 20vw;
    }

    .header-nenu-kanji {
        width: 100%;
        height: 30vw;
        font-size: 5vw;
    }

    .header-nenu-kanji span {
        margin: 2vw;
    }

    .question-kanji {
        font-size: 25vw;
    }

    .reponse {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin-top: 20vw;
    }

    .answer-button {
        width: 100%;
        height: 20vw;
        font-size: 6vw;
        border-radius: var(--border-radius-mobile);
    }

    .back {
        top: 200vw !important;
    }

    .fin {
        width: 90vw;
        height: 200vw;

    }
}

@keyframes shake-bottom {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

.shake-bottom {
    animation: shake-bottom 0.8s ease-in-out both;
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.jello-horizontal {
    animation: jello-horizontal 0.9s both;
}