.page{
    display: flex;
    width: 100vw;
    background-color: var(--couleur-primaire);
}


/* ___________________________________ kanji-save-info */


.header-right__kanji-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30.35vw;
    width: 28.8vw;
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--couleur-secondaire);
    transform: translate(-0.4vw, -0.2vw);
    position: relative;
}

.header-right__kanji-info span:nth-child(1) {
    font-size: 2.5vw;
    font-weight: 300;
    text-align: center;
    position: absolute;
    top: 2vw;
}

#last-id {
    font-size: 3vw;
    font-weight: 300;
}

.nb-kanji-save1 {
    font-size: 3vw !important;
    font-weight: 300 !important;
    margin: 0 !important;
    transform: translateY(0) !important;
}

@media screen and (max-width: 560px) {

    .header-left {
        flex-direction: row;
    }

    .header-right__kanji-info {
        width: var(--all-width);
        height: 62vw;
        transform: translateX(0);
        position: absolute;
        left: 0;
        top: 205vw;
    }

    .header-right__kanji-info span:nth-child(1) {
        font-size: 5vw;
        top: 4vw;
    }

    #last-id {
        font-size: 6vw;
    }

    .nb-kanji-save1 {
        font-size: 6vw !important;
    }

}

/* ___________________________________ fin */




/* ___________________________________ dictionnaire */

.dictionnaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 2vw;
}

.kanji-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19vw;
    height: 13vw;
    border-radius: var(--border-radius);
    border: 0.15vw solid var(--couleur-secondaire);
    position: relative;
    z-index: 1;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.secondary-meaning{
    display: none;
    position: absolute;
    right: 1vw;
    top: 1vw;
    font-size: 0.9vw;
    font-weight: 300;
    text-transform: capitalize;
}

.kanji-item:hover{
    transform: scale(1.15);
    z-index: 100 !important;
    background-color: #232323
}

.kanji-item:hover .secondary-meaning{
    display: block;
}

.kanji-meaning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kanji{
    font-size: 2.5vw;
    font-weight: 300;
    margin-bottom: 0.5vw;
}

.meaning{
    font-size: 1vw;
    font-weight: 300;
    text-transform: capitalize;
}

.on-reading,.kun-reading,.jlpt-level{
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 0.9vw;
    font-weight: 300;
}

.on-reading p,.kun-reading p,.jlpt-level p{
    font-style: italic;
    font-weight: 600;
    margin-right: 0.5vw;
}

.on-reading{
    bottom: 0vw;
    left: 1vw;
}

.kun-reading{
    top: 0vw;
    left: 1vw;
}

.jlpt-level{
    bottom: 0vw;
    right: 1vw;
}

@media screen and (max-width: 560px){

    .dictionnaire{
        position: absolute;
        top: 300vw;
    }

    .kanji-item{
        width: 85vw;
        height: 60vw;
        border-radius: var(--border-radius-mobile);
    }

    .kanji{
        font-size: 10vw;
    }

    .meaning{
        font-size: 4vw;
    }

    .on-reading,.kun-reading,.jlpt-level{
        font-size: 3vw;
    }

    .secondary-meaning{
        font-size: 3vw;
        top: 3.2vw;
        right: 4vw;
    }

    .jlpt-level{
        right: 4vw;
    }

    .on-reading,.kun-reading{
        left: 4vw;
    }

    .on-reading p,.kun-reading p,.jlpt-level p{
        margin-right: 2vw;
    }
    
}